/* Footer.css */
.footer {
  background-color: #333; /* Change the background color */
  color: #fff; /* Change the text color to white or a contrasting color */
  padding: 10px; /* Adjust the padding to create spacing around the footer content */
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #fff; /* Add a border to the top of the footer */
}

/* .left-section ul {
  list-style-type: disc;
  padding-left: 20px;
} */

/* .left-section ul li {
  margin-bottom: 5px;
} */

.right-section p {
  margin: 0;
}

/* Style the links in the footer */
.footer a {
  color: #fff; /* Set the link text color to white or a contrasting color */
  text-decoration: none; /* Remove underlines from links */
  margin: 0 10px; /* Add margin to separate links in the footer */
}

/* Style the footer headings */
.footer h3 {
  font-size: 1.2rem; /* Adjust the font size for footer headings */
}

/* Add additional styling as needed for your specific design */
