/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px 20px;
    color: #fff;
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 40px;
    width: 40px;
  }
  
  .company-name h1 {
    font-size: 24px;
    margin: 0;
  }
  
  .login-button button {
    background-color: #fff;
    color: #007bff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  